sys-hportal-api/src/main/mule/sys-hubportal-api-imp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:azure-storage="http://www.mulesoft.org/schema/mule/azure-storage" xmlns:azure-service-bus-messaging="http://www.mulesoft.org/schema/mule/azure-service-bus-messaging" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/azure-service-bus-messaging http://www.mulesoft.org/schema/mule/azure-service-bus-messaging/current/mule-azure-service-bus-messaging.xsd
http://www.mulesoft.org/schema/mule/azure-storage http://www.mulesoft.org/schema/mule/azure-storage/current/mule-azure-storage.xsd">
    <apikit:config name="sys-hubportal-api-config" api="resource::362f67ea-3f97-4df0-9e0f-61fade9a356d:sys-hubportal-api:1.0.0:raml:zip:sys-hubportal-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<azure-storage:config name="Azure_Storage_Config_hportal" doc:name="Azure Storage Config" doc:id="4f2f2379-e0ea-4526-b84a-5c73a8aa8a91" >
		<azure-storage:sas-token-azure-connection accountName="myownuni" sasToken="?sv=2020-08-04&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupix&amp;se=2024-04-08T15:29:41Z&amp;st=2022-04-08T07:29:41Z&amp;spr=https&amp;sig=sQ8kPb759gFop6eQNSr3lWAF1ykGayhT50XgZb8aLec%3D" />
	</azure-storage:config>
	<flow name="sys-hubportal-api-main" doc:id="ecbe1f4e-363f-4fc4-b5d0-e0f40d1b79a1">
        <apikit:router config-ref="sys-hubportal-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers:sys-hubportal-api-config">
		<azure-storage:upload-blob doc:name="Upload blob" doc:id="62f56c79-01fc-4cc5-89cd-ff0a27524101" config-ref="Azure_Storage_Config_hportal">
			<azure-storage:storblob container="hportal" fileName="#[uuid()]" fileStream="#[payload]" />
		</azure-storage:upload-blob>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    identifier: "IRO001",
    firstName: "Baranee",
    lastName: "Mano",
    paymentMethods: [
      {
        identifier: "IRA001",
        paymentMethodType: {
          medium: "DIGITAL",
          issuer: "INSTITUTION",
          name: "PayPal"
        }
      }
    ],
    deliveryAddresses: [
      {
        identifier: "IRA001",
        mailStopCode: "SE016",
        attention: "",
        "type": "BILLING",
        recipient: "baraneemano@gmail.com",
        address: "Sokkampalayam",
        addressUnit: "Annur",
        secondaryAddress: "Coimbatore",
        city: "Coimbatore",
        state: "TN",
        postalCode: "641653",
        country: "India"
      }
    ]
  }, 
  {
    identifier: "IRO002",
    firstName: "John",
    lastName: "Stu",
    paymentMethods: [
      {
        identifier: "IRO002",
        paymentMethodType: {
          medium: "DIGITAL",
          issuer: "INSTITUTION",
          name: "PayPal"
        }
      }
    ],
    deliveryAddresses: [
      {
        identifier: "IRO002",
        mailStopCode: "",
        attention: "",
        "type": "BILLING",
        recipient: "",
        address: "England",
        addressUnit: "England",
        secondaryAddress: "England",
        city: "England",
        state: "England",
        postalCode: "SE016",
        country: "UK"
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
