sys-gsap-api/src/main/mule/sys-globalsap-api-imp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:azure-storage="http://www.mulesoft.org/schema/mule/azure-storage" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/azure-storage http://www.mulesoft.org/schema/mule/azure-storage/current/mule-azure-storage.xsd">
    <apikit:config name="sys-globalsap-api-config" api="resource::362f67ea-3f97-4df0-9e0f-61fade9a356d:sys-globalsap-api:1.0.0:raml:zip:sys-globalsap-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<azure-storage:config name="Azure_Storage_Config_gsap" doc:name="Azure Storage Config" doc:id="a67617b5-b409-4df0-8004-f20bdb1186e6" >
		<azure-storage:sas-token-azure-connection accountName="myownuni" sasToken="?sv=2020-08-04&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupix&amp;se=2024-04-08T15:29:41Z&amp;st=2022-04-08T07:29:41Z&amp;spr=https&amp;sig=sQ8kPb759gFop6eQNSr3lWAF1ykGayhT50XgZb8aLec%3D"/>
	</azure-storage:config>
	<flow name="sys-globalsap-api-main" doc:id="6c3a07a6-0df9-461e-b1e6-05c62523f42c">
        <apikit:router config-ref="sys-globalsap-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\customers:application\json:sys-globalsap-api-config">
        <ee:transform doc:name="Transform Message" doc:id="506dd8c1-2530-421e-9ad1-ce2a883598fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
    {
        "hid": "IRO001",
        "fName": "Baranee",
        "lName": "Mano",
        "paymentMethods": [
            {
                "identifier": "IRA001",
                "paymentMethodType": {
                    "medium": "DIGITAL",
                    "issuer": "INSTITUTION",
                    "name": "PayPal"
                }
            }
        ],
        "deliveryAddresses": [
            {
                "identifier": "IRA001",
                "mailStopCode": "SE016",
                "attention": "",
                "type": "BILLING",
                "recipient": "baraneemano@gmail.com",
                "address": "Sokkampalayam",
                "addressUnit": "Annur",
                "secondaryAddress": "Coimbatore",
                "city": "Coimbatore",
                "state": "TN",
                "postalCode": "641653",
                "country": "India"
            }
        ]
    },
    {
        "hid": "IRO002",
        "fName": "John",
        "lName": "Stu",
        "paymentMethods": [
            {
                "identifier": "IRO002",
                "paymentMethodType": {
                    "medium": "DIGITAL",
                    "issuer": "INSTITUTION",
                    "name": "PayPal"
                }
            }
        ],
        "deliveryAddresses": [
            {
                "identifier": "IRO002",
                "mailStopCode": "",
                "attention": "",
                "type": "BILLING",
                "recipient": "",
                "address": "England",
                "addressUnit": "England",
                "secondaryAddress": "England",
                "city": "England",
                "state": "England",
                "postalCode": "SE016",
                "country": "UK"
            }
        ]
    }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<azure-storage:upload-blob doc:name="Upload blob" doc:id="e106f58f-c997-4275-bc60-1662cd1748f4" config-ref="Azure_Storage_Config_gsap">
			<azure-storage:storblob container="gsap" fileName="#[uuid()]" fileStream="#[payload]" />
		</azure-storage:upload-blob>
		<ee:transform doc:name="Transform Message" doc:id="6387aa81-fb5a-43a0-ad9a-fc4fd884f8e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":"success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="post:\customers:application\json:sys-globalsap-api-config" />
    </flow>
</mule>
